.salary-input {
  padding-left: 2em;
  .input{
    width: 10em;
    margin-inline-end: 0.75em;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    outline: none;
    padding-left: 1em;
    font-weight: bold;
  }
}